body, html {
    height: 100%;
    margin: 0;
    height: 100%;
    font-family: 'tradegothiclt-bold', sans-serif;
  }
  
  /* ---------------------------------------------------- */
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("../img/background.jpg");
    height: 100%;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  /* ---------------------------------------------------  */
  
  h2 {
    font-size: 5em;
    color: white;
  }
  
  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

  /* ---------------------------------------------- */
  .profilepic{
      border-radius: 100%;
  }

  .bgimg-1 h1{
      font-size: 25px;
      color: #fff;
  }