{% extends 'base.html' %}
{% block content %}
<div id="home"></div>
<div class="d-flex justify-content-center" style="padding-top: 30px;">
    <img src="../static/img/pic1.jpg" style="height: 300px; border-radius: 50%;">
</div>
<div class="d-flex justify-content-center" style="padding-top: 50px;">
    <h1>Hello</h1>
</div>
<div class="d-flex justify-content-center">
    <h1>I'm Govind Deshmukh,</h1>
</div>
<div class="container-fluid justify-content-center text-center">
    <h5>
        I am pursuing graduation in the Department of Computer Science and Engineering (B.Tech)<br> 
        at the University of Dr. Babasaheb Ambedkar Technological University, Lonere. <br> 
        I am a third year student at MGM'S Collage of Engineering, Nanded <br><br>
        I am skilled in Web Development, Mobile-app development and Python programming. <br><br>
        I have huge interest in Robotics, Drones and Playing games.
    </h5>
</div>
<br>
<br><br>
<div id="skills" class="container bg-dark" style="display: block;">
    <h1 style="text-align: center;color: white;padding-top: 10px;padding-bottom: 10px;">My Skills</h1>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<div  class="d-flex justify-content-center mt-3 mb-3">
    <div class="responsive col-md-8 w-75">
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/1.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/2.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/3.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/4.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/5.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/6.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/7.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/8.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/9.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/10.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/11.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/12.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/13.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/14.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/15.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/16.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/17.png" >
        </div>
        <div class="col-md-4 mr-4 ml-4">
            <img src="../static/img/18.png" >
        </div>
    </div>
</div>
<script>
    $('.responsive').slick({
    dots: false,
    autoplay:true,
    autoplaySpeed:900,
    infinite: true,
    speed: 200,
    slidesToShow: 4,
    slidesToScroll: 1,
    prevArrow: false,
    nextArrow: false,
    responsive: [
                {
                   breakpoint: 1024,
                   settings: {
                   slidesToShow: 3,
                   slidesToScroll: 1,
                   }
                },
                {
                   breakpoint: 600,
                   settings: {
                   slidesToShow: 3,
                   slidesToScroll: 1
                   }
                },
                {
                   breakpoint: 480,
                   settings: {
                   slidesToShow: 2,
                   slidesToScroll: 1
                   }
                }]
    });
</script>
<div id="aboutMe" class="container bg-dark mt-4" style="display: block;">
    <h1 style="text-align: center;color: white;padding-top: 10px;padding-bottom: 10px;">About Me</h1>
</div>
<div class="d-flex justify-content-around m-2"  style="padding-top: 30px;">
    <br>
    <div class="justify-content-center"></div>
    <div class="container justify-content-center">
        <div class="col-md-12">
            <div class="row" style="background-color: #ececec; border-radius: 10px; padding: 10px 10px 10px 10px;">
                <ul>
                    <h3 style="font-weight: bold;">Education</h3>
                    <li>
                        <h5 style="font-size: 20px;">Secondary (X)</h5>
                        Tiny Angels High School, Nanded <br>
                        (MAHARASHTRA STATE BOARD board) <br>
                        Year of completion: 2017 <br>
                        Percentage: 88.78% <br>
                    </li>
                    <li>
                        <h5 style="font-size: 20px;">Senior Secondary (XII), Science</h5>
                        Ashok Vidyalaya, Pune <br>
                        (MAHARASHTRA STATE BOARD board) <br>
                        Year of completion: 2019 <br>
                        Percentage: 60.00% <br>
                    </li>
                    <li>
                        <h5 style="font-size: 20px;">B.Tech, Computer Science</h5>
                        MGM College Of Engineering, Nanded <br>
                        2019 - 2023 <br>
                        CGPA: 8.46/10 <br>
                    </li>
                </ul>
            </div>
            <div class="row mt-5" style="background-color:#ececec; border-radius: 10px; padding: 10px 10px 10px 10px;">
                <ul>
                    <h3 style="font-weight: bold;">Tranings / Courses</h3>
                    <li>
                        <h5 style="font-size: 20px;">Web Development</h5>
                        Delhi Technological University (DTU), New Delhi, Online <br>
                        Apr 2021 - Apr 2021 &nbsp; <a href="https://drive.google.com/file/d/1YcvYFm3o4Tb3BqqmfGslnrpNJMW1CEIZ/view?usp=sharing">Certificate Link</a><br>
                        I have participated in one day web development boot camp in which i learnt all fundamentals of Web Development.  
                    </li>
                    <br>
                    <li>
                        <h5 style="font-size: 20px;">Introduction To Computer Programming (P5.JS)</h5>
                        Coursera, Online<br>
                        Mar 2021 - Mar 2021 &nbsp; <a href="https://coursera.org/share/a2a100961a5f9c2c97d6cb58e3208ad6 ">Certificate Link</a><br>
                        In this course I have learnt P5.JS which is a javascript extension. Now with help of P5.JS I can create animations and pictures.
                    </li>
                </ul>
            </div>
            <div class="row mt-5" style="background-color:#ececec; border-radius: 10px; padding: 10px 10px 10px 10px;margin-top: 10px;">
                <ul>
                    <h3 style="font-weight: bold;">Internships</h3>
                    <li>
                        <h5 style="font-size: 20px;">Web Developement </h5>
                        KushiSeYoga, Virtual <br>
                        Jun 2021 - Aug 2021 <br>
                        I worked at KushiSeYoga as a web development intern. In this internship I worked with technologies like Bootstrap, CSS animation, API integration and much more. <br>
                    </li>
                    <br>
                    <li>
                        <h5 style="font-size: 20px;">Internshala Student Partner</h5>
                        ISP-23 <br>
                        Jun 2021 - Aug 2021 <br>
                        In this Internship I have worked as a Campus Ambassador. During Internship I have learnt Public Speaking, Networking, Time Management, Team work and Brand promoting skills.
                    </li>
                </ul>
            </div>
            <div class="row mt-5" style="background-color:#ececec; border-radius: 10px; padding: 10px 10px 10px 10px;margin-top: 10px;">
                <ul>
                    <h3 style="font-weight: bold;">Projects</h3>
                    <li>
                        <h5 style="font-size: 20px;">Covid19 Vaccine Tracker</h5>
                        16 Jun 2021 - 23 Jun 2021 &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://govind-deshmukh.github.io/Covid-Vaccine-Tracker/">Project Link</a><br>
                        I have built a small website for checking covid19 vaccine slot availability in region by entering pin code. In the project I have used government provided API for fetching required data.
                    </li>
                    <br>
                    <li>
                        <h5 style="font-size: 20px;">Drone</h5>
                        <p class="text-muted" style="font-size: 15px;">(Personal Hobby Project)</p>
                        8 Jan 2020 - 12 Mar 2020 &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://drive.google.com/drive/folders/18LwtkWv_8VsW-Kvvs3Z-0qLD_2fzkUQH?usp=sharing">Project Link</a><br>
                        I have huge interest in Robotics & UAV's. In this project I have built a Drone using (RPi, Python_lib_Dronekit, OpenCV) and is fully autonomous. I have worked on two drones quad & hexa copter. Check out link for images & videos of project.                
                    </li>
                </ul>
            </div>
            <div class="row mt-5" style="background-color:#ececec; border-radius: 10px; padding: 10px 10px 10px 10px;margin-top: 10px;">
                <ul>
                    <h3 style="font-weight: bold;">Accomplishments</h3>
                    <li>
                        <h5 style="font-size: 20px;">Final Round Ideathon runnerup</h5>
                        <p>Participated in Ideathion 2021 organized by Kasegaon Education Society’s
                            RAJARAMBAPU INSTITUTE OF TECHNOLOGY (RIT) and successfully completed three rounds of ideathon 2021. 
                            Currently working for final round (ongoing).
                        </p>
                    </li>
                    <li>
                        <h5>CTO at Magma Infotech</h5>
                        <p>
                            Part time working at <a href="https://magmainfotech.com/">Magma Infotech</a> as core team member. Successfully gained position of chief technical officer at Magma Infotech.
                        </p>
                    </li>
                    <li>
                        <h5>Developer at MAKEaNOTE.IN</h5>
                        <p>
                            Working at <a href="https://makeanote.in/">MAKEaNOTE</a> as core team member. Designed a complete website with specific requirements using FLASK. Delevoped REST API with ability of concurrency.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="contactme" class="container bg-dark mt-4" style="display: block;" >
    <h1 style="text-align: center; color: white; padding-top: 10px;padding-bottom: 10px;">Contact Me</h1>
</div>
<div class="container justify-content-center"  style="padding-top: 20px;">
    <div class="container justify-content-center" style="padding-top: 0px;">
        <form class="contact-form" method="post" action="{{url_for('index')}}">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col form-group"> {{form.name.label (class="form-label")}} {{ form.name (class="form-control") }} </div>
                <div class="col form-group"> {{form.email.label (class="form-label")}} {{ form.email (class="form-control") }} </div>
            </div>
            <div class="form-group"> {{form.contact.label (class="form-label")}} {{ form.contact (class="form-control") }} </div>
            <div class="form-group"> {{form.message.label (class="form-label")}} {{ form.message (class="form-control") }} </div>
            <div class="text-center">
                <button type="submit" class="submit btn btn-primary mt-3">Send Message</button>
            </div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <script type="text/javascript">
                swal({
                title: "Message Sent",
                text: "I will contact you soon!",
                icon: "success",
                button: "Done",
                });
            </script>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>
<footer class="text-center text-lg-start bg-light text-muted mt-4" style="bottom: 0;">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with me via social media :</span>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col justify-content-center-md-3 col justify-content-center-lg-2 col justify-content-center-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Social Media
                    </h6>
                    <p>
                        <a href="https://www.facebook.com/Govind2001/">Facebook</a>
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/govind-deshmukh-29044618b">Linkedin</a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/deshmukh.govind.2001/">Instagram</a>
                    </p>
                    <p>
                        <a href="https://github.com/Govind-Deshmukh">GitHub</a>
                    </p>
                </div>
                <div class="col justify-content-center-md-4 col justify-content-center-lg-3 col justify-content-center-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p>
                        Farande nagar, Near Union Bank,
                        <br>
                        Nanded, Maharashtra 431602
                    </p>
                    <p>
                        <a href="">govinddeshmukh2001@gmail.com</a>
                    </p>
                    <p>+91 76209 29189</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color:  rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">Deshmukh Govind</a>
    </div>
</footer>
{% endblock %}

